# env
.env

# Ignore Build directory
build/
logs/
node_modules/
distribute/
yarn.lock
yarn-error.log
.yarn/
test-results.xml

# Binaries
*.dll
*.lib
*.pdb
*.node

# IDE Files
*.sln
*.vcxproj
*.opendb
docs/ 
/*.log
.vscode/
streamlabs-build.app

tests/osn-tests/*-cache-local.zip

profile-long-calls/dist/
!profile-long-calls/.vscode
profile-long-calls/long_calls.db*
