# Ignore Build directory
build/
logs/
node_modules/
distribute/
yarn.lock
yarn-error.log
.yarn/
test-results.xml

# Tests result for CI
flaky-tests.json

# Binaries
*.dll
*.lib
*.pdb
*.node

# IDE Files
*.sln
*.vcxproj
*.opendb
docs/ 
/*.log
.vscode/
streamlabs-build.app

tests/osn-tests/*-cache-local.zip
